#ignore hidden files
.*
!/.gitignore

#personal ignores
ReadMe.txt
act-ncss.xml
build.xml

#No need to version DataTables
DataTables-1.9.3/*

ncss.xml

test/*
#!test/kevin/*
#!test/foo.txt
#!test/kevin/bar.txt
